<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/profile-new-01.png" />
        <span class="welcomeHeader">歡迎參與 Make It Happen @ 10 – C AllStar Virtual Live！</span>
        <span class="welcomeDescription">
            首先請到C總部報到，了解遊戲玩法，再去埋超級星光大道尋寶，確保你享受到最完整、最好玩嘅演唱會！
        </span>
        <br>
        <span class="welcomeDescription">
            喺進入Minecraft 紅館大舞台之前，請你謹記以下守則：
        </span>
        <ul class="welcomeDescription">
            <li>
                專心聽釗峰教你唔好做個自私嘅人
            </li>
            <li>
                聽住安眠詩等 SoulJase 陪你 Die a Little
            </li>
            <li>
                跟住 On 族長進入深度耍廢嘅國度
            </li>
            <li>
                同 DJ King 瘋狂 Put Your Hands Up
            </li>
            <li>
                送禮勤上身，盡最大努力展現你對 C AllStar 嘅愛
            </li>
        </ul>
        <br>
        <span class="welcomeDescCTA">最緊要準備好你屋企嘅AA行握手位，舒舒服服等開 Show啦喂！ Make it happen!Let’s Go!</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>
                            .arrowLine {
                                fill: none;
                                stroke: #FFF;
                                stroke-width: 2px;
                                transition: 0.25s ease;
                            }
                        </style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02" />
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>